.loco_jumbotron{
    background-image: linear-gradient(to right bottom, #222222, #150329);
    // height: 15vh;
    height: 100%;
    width: 100%;
}
.coverpic{
    height: 15vh;
    // height: 100%;
    width: 100%;
}
.textview{
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    
    background:transparent;
    color: rgb(241, 190, 237); //rgb(255, 115, 0);
    font-size: 28px;
    // height: 100px;
    // width: 100px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: lighter;
    text-align: center;
    text-shadow: 0 0 10px #FF0C8F;


    
    margin-top: 50px;
    &>.a{
        color: #FF0C8F;
        border: 1px dotted #FF0C8F;
        border-right: none;
        padding:10px;
    }
    &>.b{
        color: rgb(243, 133, 192);
        border: 1px dotted rgb(243, 133, 192);
        border-left: none;
        padding:10px;

    } 

}
.loco_tray{
    // background-image: linear-gradient(to bottom right ,#ffffff,#e7e3e3);
    height: 100%;
    // height: 100%;
    width: 100%;
    
    
    // padding: 15px;
}
.fullviewdet{
    margin:50px 15px 30px 15px;
}
// .hrr{
//     position: relative;
//     height: 1px;
//     background: #00ffb3;
//     width: 90%;
//     left: 0;
//     right: 0;
//     margin: auto;
//     transform: translateY(-50px);
// }
.det{

    margin:auto;
    max-width: 100px;
    
    text-align: center;
    font-size: 15px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: normal;
    height:100px;
    border-radius: 100%;
    &>div{
        font-size: 20px;
    }
    padding: 25px;
    transform: rotateX(25deg);
    
}
.fsd{
    // max-width: 40vw;
    margin: auto;
}
.fsdxs{
    max-width: 45vw;
    margin: auto;
}
.textstyle{
    transform: rotatex(0deg);
}
.d_1{
    color:  rgb(255, 115, 0);
    border-bottom:8px solid rgb(255, 115, 0);
    box-shadow: 0 0px 50px rgb(255, 115, 0);
    &>div{
        // text-shadow: 0 0px 12px rgb(255, 115, 0);
    }

}
.d_2{
    color: #FF0C8F;
    border-bottom:8px solid #FF0C8F;
    box-shadow: 0 0px 50px #FF0C8F;
    &>div{
        // text-shadow: 0 0px 12px #FF0C8F;
    }


}
.d_3{
    color: #BD00FF;
    border-bottom:8px solid #BD00FF;
    box-shadow: 0 0px 50px #BD00FF;
    &>div{
        // text-shadow: 0 0px 12px #BD00FF;
    }



}
.userpic{
    margin: 0;
    display: block;
    position: relative;
    top:100%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 100%;
    border-radius: 100%;

     
}
.actstatus{
    position: relative;
    right: 10px;
}
#profilepic{
    margin: 0;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width:200px;
    max-height: 200px;
    border: 10px solid #fcfcfc;
    width: 40vw;
    height: 40vw;
    border-style: double ;
    // border-bottom: none;
    border-radius: 100%;
    // box-shadow: 0px 0 5px rgb(155, 161, 160);
}






.profile{
    margin-top:50px;
    width: 100%;
    
}
.editbtn{
    font-size: 15px;
    cursor: pointer;
    color: rgb(255, 115, 0);
    // width: 10px;
}

.editmodeinput{

    border:1px solid rgb(255, 115, 0);
    padding: 5px;
    color :rgb(255, 115, 0);
}
.userdet{
    position: relative;
    max-width: 40vw;
    font-size: 22px;
    word-break: break-all;
    background: transparent;
    font-family: 'Maven Pro', sans-serif;
    color: antiquewhite;
    font-weight: lighter;
    &>div{
        width: 100%;
        margin: 15px 0;
        text-align: left;
        padding:0 50px;
    }
    float: right;

}
.editables{
    padding: 0;
}







.activity{
    margin-top:80px;

}
.activ1{
    max-width: 40vw;
    margin:0px auto;
    &>div{
        border:1px solid #222222;
        width: 100%;
        overflow-y: scroll;
        margin: 50px auto;

    }    
}

.activ2{
    max-width: 40vw;
    border-radius:20px 20px 20px 20px /20px 20px 20px 20px; 
    background: rgb(37, 37, 37);
    color: #fcfcfc;
    height: 520px;
    margin: 40px auto;
    width: 100%;
    border-left: 5px solid #10B98F;
    border-right: 5px solid #10B98F; 
    
    
    
}
.actss{
    width: 100%;
    text-align: left;
    color: rgb(231, 229, 229);
    &:hover{
        color: rgb(4, 248, 155);
    }
}

.chipstitle{
    width: 100%;
    text-align: center;
    color: rgb(77, 77, 77);
    font-family: 'Dancing+Script' cursive;
    padding:10px;
    font-size: 18px;
    font-weight: bolder;
    height: 50px;

}
.activitytitle{
    width: 100%;
    text-align: center;
    color: rgb(10, 248, 149);
    font-family: 'Dancing+Script' cursive;
    padding:10px;
    font-size: 18px;
    font-weight: bolder;
    height: 50px;
}
.content{
    padding:10px;
    width: 100%;
    text-align: center;
    align-items: center;
   
}
.ctx{
    height: 300px;
}
.activitycontent{
    padding:10px 30px;
    width: 100%;
    height: 450px;
    text-align: center;
    overflow-y: scroll;
    &>div{
        margin:10px;
    }
}
.feedviewonlytitle{
    border:1px dotted #444;
    color: #444;
    padding: 8px;
    text-align: left;
    width: 100%;
    margin: 8px auto; 
    &:hover{
        color: rgb(1, 187, 78);
    }
}
.data{
    margin: 8px;
    
    background-color: rgb(255, 166, 0) !important;
    
}
.scx{
    overflow-y: scroll;

}
@media(max-width:1000px){
    .det{
        font-size: 12px;
        max-width: 90px;
        max-height: 90px;
        &>div{
            font-size: 15px;
            // padding:5px;
        }
    }
    .textview{
        font-size: 15px;
    }
    .userdet{
        font-size: 15px;
        max-width: 100%;
        

    }
    .fsdxs{
        max-width: 90vw;
        margin: auto;
    }
    .activ1{
        max-width: 90vw;

    }
    .activ2{
        max-width: 90vw;
    }
}

