.loco-navs{
    background: #ECECEC;
    padding: 8px 10px;
    box-shadow: 1px 1px 5px #999;
    overflow-x: auto;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 10;

}
.buttoncontainer{
    display: table;
    cursor: pointer;
    // z-index: 60 ;
}
.bar{
    display: block;
    width: 30px;
    height: 4px;
    border-radius:5px; 
    background: rgb(14, 100, 57);
    margin: 4px 10px;

}
.barc1{
    transform: rotate(45deg) translateY(5px);
}
.barc2{
    transform: rotate(-45deg) translateY(-6px);
}
.navbar-brands{
    margin:auto 10px; 
    cursor: pointer;
}
.navbar-userprofile{
    border-radius: 100%;
    position: absolute;
    right:40px;
    display: flex;
    align-items: center;
    color: rgb(11, 97, 57);
    text-shadow: 1px 4px 5px #999;
    font-family: 'Righteous';
    cursor: pointer;
}
.navbar-userprofile>img{
    border-radius:100%; 
    margin: auto 10px;
}
