<section class="main-news" >
  
  <div class="loco-jumbotron">
    Today's Feeds
  </div>
  <div class="row no-gutter news" *ngIf="currentnews && currentnews.length > 0" >

      <div @fadeup class="col news-cards" *ngFor="let news of currentnews">
          <news-card  [news]="news" (triggershareevents)="setsharedata($event)" [mode]="0"  (togglenewsview)="setnewsview($event)"></news-card>
      </div>

  </div>
  <div class="row no-gutter newssss" *ngIf="currentnews && currentnews.length == 0" >
    <nothingfound></nothingfound>
  </div>
  <br>
  <br>
  <div class="loco-jumbotron" *ngIf="allnews.length>0">
    Previous Feeds
  </div>
  <br>
  <br>
  <div class="row no-gutter news"  *ngIf="allnews.length>0">
      <div @fadeup class="col news-cards" *ngFor="let news of allnews">
          <news-card  [news]="news" (triggershareevents)="setsharedata($event)" [mode]="0"  (togglenewsview)="setnewsview($event)"></news-card>
      </div>

  </div>
 
<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="1800" (scrolled)="onScroll()"></div>
</section>
<viewnews  [news]="viewnews" *ngIf="shownewsview" (togglenewsviewfrominside)="shownewsview=!shownewsview" (click)="shownewsview=!shownewsview"  (triggershareevents)="setsharedata($event)"></viewnews>

<sharepost *ngIf="sharetriggered" (triggershareinside)="sharetriggered=!sharetriggered" [sharedata]="sharedata"></sharepost>
