.main-news{
    // display: fixed;
    height: calc(100vh - 51px);
    // overflow: auto;
    background: #FAFAFA;
}
.news-cards{
    margin:15px 0;
}
.searchbar{
    border: none;
    box-shadow: 0 0 8px #222;
    border-radius: 35px;
    margin-top:20px;
    padding: 0 20px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 35px;
    outline: none;
    width: 50vw;
    min-width: 300px;
}

viewnews{
    position: fixed;
    top:51px;
    background: rgba(10,10,10,0.7);
    align-items: center;
    width: 100vw;
    height: calc(100vh - 51px);
    overflow-y:scroll; 
}