.sdnavbackgrd{
    width: 100%;
    height: 100vh;
    background: rgba(10, 10, 10, 0.4);
    margin: 0;
    position: fixed;
    z-index: 50;
    top:0;


}


.sideNav{
    position: fixed;
    width: 15vw;
    min-width: 280px;
    height: 100vh;
    max-width: 280px;
    top:0;
    background-image: linear-gradient(to right bottom, #222222, #150329);
    display: block;
    z-index: 50;
    overflow: auto;
    // box-shadow: 2px 0 5px #999;

}
.profile{
    padding: 30px 20px;
    align-items: center;
    height: auto;
    width: 100%;
    text-align: center;
 
    
}
.image{
    border-radius:100%;
    display: inline; 
    text-shadow: 0 3px 5px #78E9CE; 
    box-shadow: 0 0px 50px #78E9CE; 
    cursor: pointer;

}
.username{
    
    color: #78E9CE;
    font-size: 20px;
    text-shadow: 0 3px 5px #222; 
    margin-top:25px; 
    font-family: 'Righteous';
}
.line{
    color: #ECECEC;
    width: auto;
    // height: 5px;
    margin: 0 5px;
    border-top: 1px solid #ECECEC;
}
.contents{
    // align-items: center;
    // background: #FFF;
    // background-image: linear-gradient(to right bottom, #222222, #150329);

    color: #78E9CE;
    font-family: 'Maven Pro', sans-serif;
    text-shadow: 0 0 10px #78E9CE;;
    font-size: 16px;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: calc(100vh - 255.600px);
    min-height: max-content;
    padding: 20px 0 0 0px;
   

}
.green{
    border-top: 1px solid #78E9CE;;
    box-shadow: 0 0 3px #78E9CE;;
    margin:20px 0;
}
.items{
    // margin:10px 10px;
    padding: 8px 30px;
    transition: .3s all;
    cursor: pointer;
}
.items:hover{
    // margin:10px 10px;
    background: #FF0C8F;
    color: #FFF;
}
.adjust{
    height: 224.677px;
    
}
@media(max-width:720px){
    .contents{
        font-size: 14px;
    }
    .items{
        // margin:10px 10px;
        padding: 5px 30px;
     }
}